.sign-in-section {
    padding: 0;
    border: none;
}

.sign-in-section .sign-in-form {
    display: flex;
    flex-direction: column;
}
.sign-in-section .sign-in-form .input-holder {
    display: flex;
    align-items: center;
    margin: 20px;
}

.sign-in-section .sign-in-form input, 
.sign-in-section .sign-in-form label {
    flex-basis: 50%;
    font-size: 2.3rem;
}

.sign-in-section .sign-in-form input {
    flex-basis: 70%;
    width: 95%;
}

.sign-in-section .sign-in-form label {
    flex-basis: 30%;
}

.sign-in-section .sign-in-form .btn {
    margin-top: 20px;
}

.account-type .account-type-input {
    display: flex;
    align-items: center;
}

.redirect-link {
    text-align: center;
}

.redirect-link .link {
    color: #FF6600;
}

.sign-in-title {
    margin-bottom: 10px;
}

/* responsive-css */

@media all and (max-width: 600px) {
    .sign-in-section {
        margin-bottom: 50px;
    }

    .sign-in-section .sign-in-form .input-holder {
        flex-direction: column;
    }

    .sign-in-section .sign-in-form .input-holder label {
        margin: 10px 0;
        font-size: 1.5rem;
        text-align: center;
    }

    .sign-in-section .sign-in-form .input-holder input {
        font-size: 1.5rem;
    }
    
    .sign-up-section .sign-up-form input {
        /* font-size: 1.4rem; */
        text-align: center;
    }
}