section.job-details {
    width: 90%;
    padding: 0;
    border: none;
}

.job-card {
    width: 100%;
    /* flex-basis: 30%; */
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 20px;
    padding: 0 1% 5%;
    
    font-size: 1.5rem;
    text-align: center;

    /* color: #23272E; */
    /* background: #fff; */
    border-radius: 30px;
}

.job-card .job-heading {
    width: 100%;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}

.job-card  p {
    margin: 0;
}

.job-card .image-holder {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    /* margin-bottom: 15px; */
    margin-right: 15px;
    width: 200px;
    height: 200px;

    box-shadow: 0px 3px 6px 0px #23272e;
    border-radius: 50%;
}

.job-card .image-holder .job-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 30%;
}

.job-card .job-title .title {
    margin: 0 auto 5%;

    font-size: 2rem;
}

.job-card .main-info {
    margin: 50px auto;
    padding: 0 50px;
    text-align: justify;
}

.job-card .job-title .offered-by {
    font-size: 1rem;
    text-align: left;
}

.job-card .job-title .offered-by a {
    color: #FF6600;
}

.job-card .add-info {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

.job-card .add-info p .head {
    color: #FF6600;
}

.job-card .btn {
    margin-top: 50px;
    padding: 20px 50px;

    color: #fff;
    border-radius: 10px;
}

.job-card .management-btns {
    display: flex;
}

.job-card .management-btns a {
    margin-right: 10px;
}

/* responsive-css */

@media all and (max-width: 600px ) {
    .job-card .job-heading {
        flex-direction: column;
    }

    .job-card .add-info {
        flex-direction: column;
    }

    .job-card .add-info p {
        margin: 10px 0;
    }

    .job-card .image-holder {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .job-card .management-btns a,
    .job-card .management-btns button {
        flex-basis: 50%;
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    /* .applied-applicant-card {
        width: 100%;
    }

    .applied-applicant-card .number-count {
        margin: 0 10px;
    }

    .applied-applicant-card .applicant-name {
        margin: 0 10px;
    }

    .btn.applied-profile-link {
        font-size: 1rem;
    } */
}