.job-update-section {
    padding: 0;
    border: none;
}

.job-update-section .job-update-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.job-update-section .job-update-form .input-holder {
    display: flex;
    align-items: center;
    margin: 20px;
}

.job-update-section .job-update-form input, 
.job-update-section .job-update-form label {
    flex-basis: 50%;
    font-size: 2.3rem;
}

.job-update-section .job-update-form textarea {
    height: 500px;
    flex-basis: 60%;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.job-update-section .job-update-form select {
    flex-basis: 60%;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.job-update-section .job-update-form input {
    flex-basis: 60%;
}

.job-update-section .job-update-form label {
    flex-basis: 40%;
}

.job-update-section .job-update-form .btn {
    margin-top: 20px;
}