
.job-holder .job-card {
    flex-basis: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    margin: 20px;
    padding: 3% 1% 5%;
    
    font-size: 1.5rem;
    text-align: center;

    color: #23272E;
    background: #fff;
    border-radius: 30px;
}

.job-holder .job-card  p {
    margin: 0;
}

.job-holder .job-card .image-holder {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
    width: 200px;
    height: 200px;

    box-shadow: 0px 3px 6px 0px #23272e;
    border-radius: 50%;
}

.job-holder .job-card .image-holder .company-image {
    max-width: 200px;
    border-radius: 50%;
}

.job-holder .job-card .job-title {
    margin-bottom: 10%;
}

.job-holder .job-card .job-title .title {
    margin: 0 auto 5%;

    font-size: 2rem;
}

.job-holder .job-card .job-title .offered-by {
    font-size: 1rem;
}

.job-holder .job-card .job-title .offered-by a {
    color: #FF6600;
}

.job-holder .job-card .add-info {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

.job-holder .job-card .add-info .time-ago .green-highlight {
    color: #82C91E;
}

.job-holder .job-card .btn {
    margin-top: 50px;
    padding: 20px 50px;

    color: #fff;
    border-radius: 10px;
}

.job-holder .job-card .new-note {
    display: flex;
    width: 100%;

    position: absolute;
}

.job-holder .job-card .new-note i {
    margin: 0 50px;
    font-size: 4rem;
    color: #82C91E;
}