.applicant-profile-manage-section {
    padding: 0;
    border: none;
}

.applicant-profile-manage-section .applicant-profile-manage-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.applicant-profile-manage-section .applicant-profile-manage-form .input-holder {
    display: flex;
    align-items: center;
    margin: 20px;
}

.applicant-profile-manage-section .applicant-profile-manage-form input, 
/* .applicant-profile-manage-section .applicant-profile-manage-form textarea,  */
.applicant-profile-manage-section .applicant-profile-manage-form label {
    flex-basis: 50%;
    font-size: 2.3rem;
}

.applicant-profile-manage-section .applicant-profile-manage-form textarea {
    height: 150px;
    flex-basis: 60%;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.applicant-profile-manage-section .applicant-profile-manage-form input {
    flex-basis: 60%;
}

.applicant-profile-manage-section .applicant-profile-manage-form label {
    flex-basis: 40%;
}

.applicant-profile-manage-section .applicant-profile-manage-form .btn {
    margin-top: 20px;
}

/* responsive-css */

@media all and (max-width: 600px ) {
    .applicant-profile-manage-section > h3 {
        margin-bottom: 0;
        margin: 10px;
    }

    .applicant-profile-manage-section .applicant-profile-manage-form label {
        margin: 10px 0;
    }

    .applicant-profile-manage-section .applicant-profile-manage-form {
        width: 120%;
    }

    .applicant-profile-manage-section .applicant-profile-manage-form .input-holder {
        flex-direction: column;
        text-align: center;
    }

    .applicant-profile-manage-section .applicant-profile-manage-form textarea {
        width: 90%;
        flex-basis: auto;
        font-size: 1rem;
    }

    .applicant-profile-manage-section .applicant-profile-manage-form select {
        width: 100%;
        text-align: center;
    }
    
    .applicant-profile-manage-section .applicant-profile-manage-form input, 
    .applicant-profile-manage-section .applicant-profile-manage-form label {
        font-size: 1.5rem;
    }

    .applicant-profile-manage-section .applicant-profile-manage-form input {
        width: 100%;
    }
}