.job-create-section {
    padding: 0;
    border: none;
}

.job-create-section .job-create-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.job-create-section .job-create-form .input-holder {
    display: flex;
    align-items: center;
    margin: 20px;
}

.job-create-section .job-create-form input, 
.job-create-section .job-create-form label {
    flex-basis: 50%;
    font-size: 2.3rem;
}

.job-create-section .job-create-form textarea {
    height: 500px;
    flex-basis: 60%;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.job-create-section .job-create-form select {
    flex-basis: 60%;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.job-create-section .job-create-form input {
    flex-basis: 60%;
}

.job-create-section .job-create-form label {
    flex-basis: 40%;
}

.job-create-section .job-create-form .btn {
    margin-top: 20px;
}

/* responsive-css */

@media all and (max-width: 600px ) {
    .job-create-section > h3 {
        margin-bottom: 0;
        margin: 10px;
    }

    .job-create-section .job-create-form label {
        margin: 10px 0;
    }

    .job-create-section .job-create-form {
        width: 120%;
    }

    .job-create-section .job-create-form .input-holder {
        flex-direction: column;
        text-align: center;
    }

    .job-create-section .job-create-form textarea {
        width: 100%;
        flex-basis: auto;
    }

    .job-create-section .job-create-form select {
        width: 100%;
        text-align: center;
    }
}