.applied-jobs-holder {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.applied-jobs-title {
    font-size: 4rem;
    margin: 0;
}
.applied-jobs-sub-title {
    font-size: 1.5rem;
}
.applied-jobs-sub-title .highlighted {
    color: #FF6600;
}

.no-applied-jobs {
    font-size: 1.4rem;
    text-align: center;
}

.no-applied-jobs a {
    color: #FF6600;
}

/* responsive-css */

@media all and (max-width: 600px ) {
    .applied-jobs-title {
        font-size: 3rem;
    }

    .applied-jobs-sub-title {
        font-size: 1rem;
    }
    
    .applied-job .applied-job-title {
        font-size: 1.5rem;
    }

    .applied-job h3.number-count {
        margin: 0 10px;
        font-size: 2rem;
    }

    .applied-job a.applied-details-link {
        margin: 0 10px;
        font-size: 1.5rem;
    }
}