.pagination-btns {
    margin: 50px 0 20px;
    font-size: 2rem;
}

.pagination-btns .btn {
    width: 200px;
    margin: 0 20px;
}

.job-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;

    width: 90%;

    margin: auto;

    padding-top: 50px;
    padding-bottom: 50px;

    border-bottom: 10px solid #FF6600;
    border-radius: 50px;
}

/* responsive-css */

@media all and (max-width: 600px ) {
    .job-holder {
        flex-direction: column;
        align-items: center;

        margin: 10px 0;
        border-radius: 20px;
    }

    .pagination-btns {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .pagination-btns .btn {
        width: 100px;
        font-size: 1.3rem;
    }

}