.applied-applicant-card {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin: 20px 0;
    padding: 20px;
    
    font-size: 2rem;

    color: #23272E;
    background: #fff;
    border-radius: 10px;
}

.applied-applicant-info {
    display: flex;
    align-items: center;
}

.applied-applicant-info .number-count {
    font-size: 2.5rem;
}

.applied-applicant-info .applicant-icon {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

/* .applied-applicant-card .applied-name {
    display: flex;
    align-items: center;
    margin: 0 50px;
} */

.applied-applicant-card .applicant-name {
    margin: 0 50px;
}

.applied-applicant-card .number-count {
    margin: 0 50px;
}

.applied-applicant-card .applicant-profile-link {
    /* color: #fff; */
    /* margin: 0 50px; */
    margin: 0;
}

.btn.applied-profile-link {
    margin-top: 0;
    font-size: 1.5rem;
}

@media all and (max-width: 600px ) {
    .applied-applicant-card {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .applied-applicant-card .number-count {
        margin: 0 5px;
        font-size: 2rem;
    }

    .applied-applicant-info .applicant-icon {
        max-width: 50px;
        max-height: 50px;
    }

    .applied-applicant-card .applicant-name {
        margin: 0 10px;
        font-size: 1.5rem;
    }

    .applied-applicant-card .btn.applied-profile-link {
        margin-right: 5px;
        padding: 10px 5px;
        font-size: 1.3rem;
    }
}