.business-profile-manage-section {
    padding: 0;
    border: none;
}

.business-profile-manage-section .business-profile-manage-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.business-profile-manage-section .business-profile-manage-form .input-holder {
    display: flex;
    align-items: center;
    margin: 20px;
}

.business-profile-manage-section .business-profile-manage-form input, 
/* .business-profile-manage-section .business-profile-manage-form textarea,  */
.business-profile-manage-section .business-profile-manage-form label {
    flex-basis: 50%;
    font-size: 2.3rem;
}

.business-profile-manage-section .business-profile-manage-form textarea {
    height: 200px;
    flex-basis: 60%;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.business-profile-manage-section .business-profile-manage-form input {
    flex-basis: 60%;
}

.business-profile-manage-section .business-profile-manage-form label {
    flex-basis: 40%;
}

.business-profile-manage-section .business-profile-manage-form .btn {
    margin-top: 20px;
}