section.applicant-profile {
    width: 90%;
    padding: 0;
    border: none;
}

.applicant-card {
    width: 100%;
    /* flex-basis: 30%; */
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* margin: 20px; */
    padding: 0 1% 5%;
    
    font-size: 1.5rem;
    text-align: center;

    /* color: #23272E; */
    /* background: #fff; */
    border-radius: 30px;
}

.applicant-card .applicant-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    /* background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ), url('../images/default-applicant-background.png'); */

    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.applicant-card .applicant-heading .managment-btns {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.applicant-card .applicant-heading .managment-btns a {
    margin-left: 5px;
    font-size: 1.3rem;
}

.applicant-card  p {
    margin: 0;
}

.applicant-card .image-holder {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    width: 200px;
    height: 200px;

    box-shadow: 0px 3px 6px 0px #23272e;
    border-radius: 50%;
}

.applicant-card .image-holder .applicant-image {
    max-width: 170px;
    max-height: 170px;
    border-radius: 50%;
}

.applicant-card .applicant-name .name {
    margin: 0 auto 2%;

    font-size: 2rem;
}

.applicant-card .applicant-name .sub-name {
    margin: 3% auto;
}

.applicant-card .preferred-position-info {
    margin-top: 50px;
    font-size: 2.5rem;
}

.applicant-card .preferred-position-info .highlighted {
    color: #FF6600;
}

.applicant-card .main-info {
    margin: 50px auto;
    padding: 0 50px;
    font-size: 1.6rem;
    text-align: justify;
}

.applicant-card .contact-info {
    font-size: 1.3rem;
}

.applicant-card .contact-info a,
.applicant-card .contact-info span {
    color: #FF6600;
}

.skills-section,
.education-section {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.skills-section .section-heading,
.education-section .section-heading {
    margin-bottom: 20px;
}

.skills-section .add-info .more-add-info,
.education-section .add-info .more-add-info {
    font-size: 1rem;
    color: #FF6600;
}

.skills-section .skill-list,
.education-section .education-list {
    padding: 0;
}

.skills-section .skill-list li,
.education-section .education-list li {
    margin: 10px;
    font-size: 2rem;
    list-style-type: '→ ';
}

.applicant-card .contact-unit {
    display: inline;
}

/* responsive-css */

@media all and (max-width: 600px ) {
    .applicant-card .image-holder {
        width: 155px;
        height: 155px;
    }
    
    .applicant-card .image-holder .applicant-image {
        max-width: 150px;
        max-height: 150px;
    }

    .applicant-card .contact-unit {
        display: inline-block;
        margin: 5px 0;
    }

    .applicant-card .contact-unit .email, 
    .applicant-card .contact-unit .number {
        display: block;
    }

    .applicant-card .applicant-name .name {
        font-size: 1.5rem;
    }
    
    .applicant-card .applicant-heading .managment-btns {
        margin: 10px 0;

        position: relative;
        top: 0;
        left: 0;
    }

    .applicant-card .applicant-heading .managment-btns a {
        font-size: 1rem;
    }
    
    .applicant-card .applicant-heading .managment-btns a.applied-jobs-btn {
        display: none;
    }

    .applicant-card .preferred-position-info {
        font-size: 1.5rem;
    }

    .applicant-card .preferred-position-info .highlighted {
        display: block;
    }
    
    .applicant-card .main-info {
        padding: 0 10px;
        font-size: 1.4rem;
    }

    .skills-section .section-heading,
    .education-section .section-heading {
        font-size: 2.5rem;
    }

    .skills-section .add-info .more-add-info,
    .education-section .add-info .more-add-info {
        font-size: 0.8rem;
    }

    .skills-section .skill-list li,
    .education-section .education-list li {
        font-size: 1.4rem;
    }
}