.applied-job {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 20px 0;

    font-size: 2rem;

    color: #23272E;
    background: #fff;
}

.applied-job .applied-job-info {
    display: flex;
    align-items: center;
}

.applied-job .number-count {
    margin: 0 50px;
}

.applied-job .applied-details-link {
    /* color: #fff; */
    margin: 0 50px;
}